# Node modules
node_modules/
npm-debug.log*
yarn-error.log
dist/
build/

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
log.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Render or deployment
#render.yaml

# Temp
*.tmp
*.cache

